[advice]
    statusHints = false
[alias]
    comit = commit
    git = !git
    grpe = grep
[color]
    ui = true
[completion]
    commands = -gitk
[fetch]
    prune = true
[grep]
    extendedRegexp = true
[init]
    defaultBranch = master
[ui]
    editor = babi
[user]
    email = cfb1470@gmail.com
    name = ClasherKasten
    signingKey = AAFD6658055AA3DA
[pull]
    rebase = true
